*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}
header{
    width: 100%;
    height: 85px;
    background-color: rgb(21, 44, 57);
    color: white;
}
.inheader{
    width: 80%;
    height: 100%;
    margin: auto;
    border-bottom: 2px solid white;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.Logo{
    display: flex;
    align-items: center;
    gap: 3px;
}
.imagelogo{
    width: 20px;
}
.textLogo{
    font-weight: 700;
    color: #FFFFFF;
    font-size: 18px;
}
.mapText{
    display: flex;
    align-items: center;
}
.mapLogo{
    background-color: aliceblue;
    width: 100%;
    color: black;
}
.mapPin{
    width: 25px;
}
.select1{
    background-color: rgba(127, 255, 212, 0);
    border: none;
    color: #FFFFFF;
    font-size: 18px;
    outline: none;
    font-weight: 700;
}
.thirdPart{
    display: flex;
    align-items: center;
    gap: 30px;
    font-weight: 700;
    font-size: 18px;
}
.phoneHeader{
    display: none;
}