*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}
header{
    width: 100%;
    height: 85px;
    background-color: rgb(21, 44, 57);
    color: white;
}
.inheader{
    width: 80%;
    height: 100%;
    margin: auto;
    border-bottom: 2px solid white;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.Logo{
    display: flex;
    align-items: center;
    gap: 3px;
}
.imagelogo{
    width: 20px;
}
.textLogo{
    font-weight: 700;
    color: #FFFFFF;
    font-size: 18px;
}
.mapText{
    display: flex;
    align-items: center;
}
.mapLogo{
    background-color: aliceblue;
    width: 100%;
    color: black;
}
.mapPin{
    width: 25px;
}
.select1{
    background-color: rgba(127, 255, 212, 0);
    border: none;
    color: #FFFFFF;
    font-size: 18px;
    outline: none;
    font-weight: 700;
}
.thirdPart{
    display: flex;
    align-items: center;
    gap: 30px;
    font-weight: 700;
    font-size: 18px;
}
.phoneHeader{
    display: none;
}
.hero-section{
    width: 100%;
    height: 800px;
    background-color: rgb(21, 44, 57);
}
.insection1{
    width: 80%;
    margin: auto;
    height: 100%;
    padding-top: 1px;
}
.part1inHeroSection{
    width: 100%;
    height: 300px;
    background-image: url(./images/Rectangle\ 7.png);
    background-repeat: no-repeat;
    background-size: cover;
    /* background-position: start; */
    margin-top: 50px;
    color: white;
}
.inpart1inHeroSection{
    width: 85%;
    height: 100%;
    /* background-color: aqua; */
    margin: auto;
}
.DivAkciya{
    /* background-color: black; */
    width: 90px;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 20px;
    border: 1px solid white;
    border-radius: 25px;
}
.DivOkt{
    /* background-color: black; */
    width: 250px;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 20px;
    border: 1px solid white;
    border-radius: 25px;
}
.BoxAkcii{
    display: flex;
    align-items: center;
    padding-top: 40px;
    gap: 20px;
}
.pUteplenie{
    font-size: 55px;
    font-weight: 700;
}
.btn1{
    background-color: #E53624;
    border: none;
    font-size: 25px;
    color: white;
    padding: 20px;
    width: 350px;
    border-radius: 50px;
}
.ButtonBox{
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-top: 20px;
}
.pSkidka{
    font-size: 25px;
    width: 370px;
}
.forflex{
    display: flex;
    align-items: center;
    gap: 60px;
}
.part2inHeroSection{
    width: 100%;
    height: auto;
    color: white;
}
.inpart2inHeroSection{
    width: 85%;
    height: auto;
    margin: auto;
    /* background-color: #FFFFFF; */
    margin-top: 80px;
}
.pUslugiTovar{
    font-size: 70px;
    font-weight: 700;
    width: 45%;
    text-align: center;
    /* background-color: black; */
    margin: auto;
}
.part3inHeroSection{
    width: 100%;
    height: auto;
    color: white;
    /* background-color: #E53624; */

}
.inpart3inHeroSection{
    width: 100%;
    height: auto;
    margin: auto;
    /* background-color: #FFFFFF; */
    margin-top: 40px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.firstCateg{
    /* background-color: green; */
    width: 25%;
}
.pRemont{
    font-size: 40px;
    /* background-color: blue; */
    width: 100%;
}
.pKomplex{
    font-size: 20px;
    width: 100%;
    margin-top: 20px;
    /* background-color: pink; */
}
.section1{
    width: 100%;
    height: 525px;
    /* background-color: #E53624; */
    display: flex;
    align-items: center;
}
.part1insection1{
    width: 70%;
    height: 100%;
}
.imageSec1{
    width: 100%;
    height: 100%;
}
.part2insection1{
    background-color: #476178;
    width: 30%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.inpart2{
    width: 80%;
    height: 60%;
    /* background-color: aqua; */
    color: white;
}
.pUslugidd{
    font-size: 35px ;
    font-weight: 700;
}
.pOdnoznach{
    width: 65%;
    margin-top: 20px;
}
.btn2{
    padding: 15px;
    margin-top: 30px;
}
.section2{
    width: 100%;
    height: 590px;
    /* background-color: antiquewhite; */
    margin-top: 120px;
}
.pUsluguSec2{
    font-size: 55px;
    font-weight: 700;
}
.part1Sec2{
    width: 80%;
    height: 20%;
    margin: auto;
    /* background-color: #476178; */
}
.part2Sec2{
    width: 80%;
    height: 100%;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    /* gap: 10px; */
    align-items: center;
    justify-content: space-between;
}
.firstCard{
    width: 22%;
    height: 40%;
    background-image: url(./images/pexels-anna-shvets-3987142\ 1.png);
    background-repeat: no-repeat;
    background-size: cover;
    padding: 10px;
    background-position: center;
}
.pKli{
    font-size: 20px;
    color: white;
    padding: 10px;
}
.Boxklining{
    /* background-color: #E53624; */
    width: 35%;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 2px solid white;
    border-radius: 30px;
}