@media(max-width:510px){
    *{
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        font-family: sans-serif;
    }
    header{
        display: none;
    }
    .phoneHeader{
        display: block;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .inPhoneHeader{
        width: 90%;
        height: auto;
        display: flex;
        align-items: center;
        /* background-color: antiquewhite; */
        justify-content: space-between;
    }
    .menuImage{
        width: 30px;
        cursor: pointer;
    }
    .logoPHone{
        display: flex;
        align-items: center;
        gap: 3px;
    }
}