@media(max-width:510px){
    *{
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        font-family: sans-serif;
    }
    header{
        display: none;
        border-bottom: 1px solid white;
    }
    .phoneHeader{
        display: block;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .inPhoneHeader{
        width: 90%;
        height: auto;
        display: flex;
        align-items: center;
        /* background-color: antiquewhite; */
        justify-content: space-between;
    }
    .menuImage{
        width: 30px;
        cursor: pointer;
    }
    .logoPHone{
        display: flex;
        align-items: center;
        gap: 3px;
    }
    .hero-section {
        height: auto;
        padding-bottom: 40px;
    }
    .insection1 {
        width: 90%;
    }
    .part1inHeroSection {
        height: auto;
        padding-bottom: 25px;
        margin-top: 20px;
    }
    .BoxAkcii {
        flex-direction: column;
        align-items: flex-start;
        gap: 10px;
        padding-top: 20px;
    }
    .DivAkciya, .DivOkt {
        font-size: 14px;
        width: auto;
    }
    .forflex {
        flex-direction: column;
        align-items: flex-start;
        gap: 15px;
    }
    .pUteplenie {
        font-size: 30px;
    }
    .btn1 {
        width: 100%;
        font-size: 20px;
        padding: 15px;
    }
    .pSkidka {
        font-size: 18px;
        width: 100%;
    }
    .inpart2inHeroSection {
        margin-top: 50px;
    }
    .pUslugiTovar {
        font-size: 36px;
        width: 100%;
        text-align: left;
    }
    .inpart3inHeroSection {
        flex-direction: column;
        gap: 25px;
    }
    .firstCateg {
        width: 100%;
    }
    .pRemont {
        font-size: 28px;
    }
    .pKomplex {
        font-size: 16px;
        margin-top: 10px;
    }
    .section1 {
        flex-direction: column;
        height: auto;
    }
    .part1insection1 {
        width: 100%;
        height: 250px;
    }
    .part2insection1 {
        width: 100%;
        padding: 40px 0;
    }
    .inpart2 {
        width: 90%;
        height: auto;
        text-align: center;
    }
    .pUslugidd {
        font-size: 28px;
    }
    .pOdnoznach {
        width: 100%;
        font-size: 16px;
        text-align: start;
    }
    .btn2 {
        width: 100%;
        margin-top: 25px;
    }
    .section2 {
        height: auto;
        margin-top: 50px;
    }
    .part1Sec2 {
        width: 90%;
        text-align: center;
        margin-bottom: 20px;
    }
    .pUsluguSec2 {
        font-size: 32px;
        text-align: start;
    }
    .part2Sec2 {
        width: 90%;
        flex-direction: column;
        gap: 0;
    }
    .firstCard {
        display: none;
        width: 100%;
        height: 250px;
    }
    .firstCard:first-child {
        display: block;
    }
    .Boxklining {
        width: 50%;
    }
    .pKli {
        font-size: 18px;
    }
    .section3 {
        flex-direction: column;
        height: auto;
        margin-top: 50px;
    }
    .part1Sec3, .part2Sec3 {
        width: 100%;
        height: 350px;
        padding: 40px 0;
    }
    .pkatTov {
        font-size: 32px;
        text-align: center;
    }
    .pOdno {
        width: 85%;
        font-size: 16px;
        line-height: 22px;
        margin-top: 15px;
    }
    .inpart2Sec3 {
        width: 90%;
    }
    .pKlin {
        font-size: 30px;
        margin-top: 0;
        text-align: center;
    }
    .buttonsss {
        flex-direction: column;
        align-items: center;
        gap: 15px;
    }
    .DivSredstba, .iii, .ddd {
        width: 100% !important;
        box-sizing: border-box;
    }
    .another3 {
        display: flex;
        flex-direction: column;
    }
    .section4 {
        height: auto;
        margin-top: 60px;
    }
    .insection4 {
        width: 90%;
    }
    .pNews {
        font-size: 32px;
        text-align: center;
    }
    .threeImage {
        flex-direction: column;
        gap: 40px;
    }
    .boxGG {
        width: 100%;
        height: 200px;
        margin-top: 20px;
    }
    .pVis {
        font-size: 20px;
        width: 100%;
        text-align: left;
    }
    .DivWatch {
        justify-content: center;
        margin-top: 40px;
    }
    .btnWatch {
        width: 100%;
        font-size: 18px;
    }
    footer {
        padding-top: 30px;
    }
    .infooter {
        flex-direction: column;
        width: 90%;
        text-align: center;
        padding-bottom: 30px;
    }
    .part1Footer, .part2Footer {
        width: 100%;
    }
    .widthImage {
        width: 80%;
        margin-top: 20px;
    }
    .endText {
        margin-top: 30px;
        display: flex;
        flex-direction: column;
        gap: 10px;
    }
    .forFlexEnd {
        flex-direction: column;
        gap: 30px;
        margin-top: 30px;
    }
    .antherText {
        margin-top: 0;
    }
    .EndDiv {
        width: 90%;
        height: auto;
        flex-direction: column;
        gap: 15px;
        padding: 20px 0;
        text-align: center;
    }
    .first {
        flex-direction: column;
        gap: 10px;
        padding-top: 0;
    }
}